<div class="holder-main" *ngIf="show; else loading ">
    
<nav Sticky-Element offset="420" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger">{{data.titulo}}</a>
    <button #navbar_li class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li #home_li class="nav-item active">
         <a (click)="scrollToElement(homee,'homee')" class="letter-color change-color nav-link js-scroll-trigger">Inicio</a>
        </li>
        <li #descargar_li>
          <a (click)="scrollToElement(descargar,'descargar')"  class="letter-color nav-link js-scroll-trigger">Descargar</a>
        </li>
        <li #servicios_li>
          <a (click)="scrollToElement(servicios,'servicios')" class="letter-color nav-link js-scroll-trigger">Servicios</a>
        </li>
        <li #contact_li>
          <a (click)="scrollToElement(contacto,'contact')" class="letter-color nav-link js-scroll-trigger">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header #homee class="masthead gradiente-2">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">{{data.secciones.home.titulo}}</h1>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait gold">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img [src]="data.secciones.home.imagen" class="img-fluid" alt="">
              </div>
              <!-- <div class="button">
              
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section #descargar class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading">{{data.secciones.descargas.titulo}}</h2>
        <p>{{data.secciones.descargas.subtitulo}}</p>
        <div class="badges">
          <a class="badge-link" href="{{data.secciones.descargas.botonplay}}"><img src="assets/img/google-play-badge.svg" alt=""></a>
          <a class="badge-link" href="{{data.secciones.descargas.botonaps}}"><img src="assets/img/app-store-badge.svg" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section #servicios class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>{{data.secciones.servicios.titulo}}</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait black">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img [src]="data.secciones.servicios.imagen" class="img-fluid" alt="">
              </div>
              <!-- <div class="button">
               
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>{{data.secciones.servicios.serviciuno}}</h3>
                <p class="text-muted">{{data.secciones.servicios.subtitulouno}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-camera text-primary"></i>
                <h3>{{data.secciones.servicios.serviciodos}}</h3>
                <p class="text-muted">{{data.secciones.servicios.subtitulodos}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-present text-primary"></i>
                <h3>{{data.secciones.servicios.serviciotres}}</h3>
                <p class="text-muted">{{data.secciones.servicios.subtitulotres}}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-lock-open text-primary"></i>
                <h3>{{data.secciones.servicios.serviciocuatro}}</h3>
                <p class="text-muted">{{data.secciones.servicios.subtitulocuatro}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="cta-content">
    <div class="container">
      <h2>{{data.secciones.banner.titulo}}</h2>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section #contacto class="contact bg-primary" id="contact">
  <div class="container">
    <h2>{{data.secciones.contacto.titulo}}</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="{{data.secciones.contacto.facebook}}">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="{{data.secciones.contacto.twitter}}">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="{{data.secciones.contacto.google}}">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
      <div class="pyme" >     
          <p>Generado por</p>
          <a href="http://solucionescolabora.com/desarrollos/pymeassistant" target="_blank"> <img src="assets/pyme_logo.png" alt=""></a>
  </div>
  </div>
</footer>

</div>

<ng-template #loading>
  <loader></loader>
</ng-template>